/* NOTE: use these selectors to style invalid form elements on non-HTML5 browsers */
.form-submitted input:invalid,
.form-submitted textarea:invalid,
.form-submitted select:invalid {
  border: 2px solid #b2182b;
}

/* NOTE: The #shareabouts-container must be positioned relative,
   have an explicit width and a fluid height. An explicit height
   must be set within a media query. */

#shareabouts-container {
  width: 100%;
  max-width: 64.063em;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.shareabouts-add-button-container {
  left: 0;
  bottom: 0;
  margin-left: 0;
}

.shareabouts-add-button {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.panel-open .shareabouts-add-button-container {
  display: none;
}

.shareabouts-auth-button {}
.shareabouts-auth-avatar {
  display: block;
  width: 50px;
}

.shareabouts-geometry-set .form-instructions {
  display: none;
}

.survey-items {
  list-style: none;
  margin-left: 0;
}

.survey-items .avatar {
  height: 25px;
  width: 25px;
}

.avatar {
  height: 50px;
  width: 50px;
}

textarea {
  height: 100px;
}

.browsehappy {
  margin-bottom: 0;
}

@media only screen and (min-width: 40.063em) {

  #shareabouts-container {
    height: 600px;
  }

  .shareabouts-add-button-container {
    left: 1.5em;
  }

  .shareabouts-add-button {
    padding-left: 2em;
    padding-right: 2em;
  }

  .panel-open .shareabouts-add-button-container {
    display: block;
  }



}