/* NOTE: use these selectors to style invalid form elements on non-HTML5 browsers */

/* line 4, ../../app/styles/main.scss */

.form-submitted input:invalid,
.form-submitted textarea:invalid,
.form-submitted select:invalid {
  border: 2px solid #b2182b;
}

/* NOTE: The #shareabouts-container must be positioned relative,
   have an explicit width and a fluid height. An explicit height
   must be set within a media query. */

/* line 12, ../../app/styles/main.scss */

#shareabouts-container {
  width: 100%;
  max-width: 64.063em;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

/* line 20, ../../app/styles/main.scss */

.shareabouts-add-button-container {
  left: 1.5em;
  bottom: 0;
  margin-left: 0;
}

/* line 27, ../../app/styles/main.scss */

.shareabouts-auth-container,
.shareabouts-auth-menu {
  float: left;
  /*  background-color: white;
    border: 1px solid black;
    padding: 0.5em;
  */
}

/* line 33, ../../app/styles/main.scss */

.shareabouts-auth-container {
  width: 50px;
}

/* line 37, ../../app/styles/main.scss */

.shareabouts-auth-avatar {
  display: block;
  width: 50px;
}

/* line 41, ../../app/styles/main.scss */

.shareabouts-auth-menu {
  margin-bottom: 10px;
}

/* line 45, ../../app/styles/main.scss */

.shareabouts-auth-menu:before,
.shareabouts-auth-menu:after {
  content: '';
  width: 0;
  height: 0;
  border: 17px solid white;
  position: absolute;
  top: 100%;
  left: 1em;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

/* line 57, ../../app/styles/main.scss */

.shareabouts-auth-menu:before {
  border-top-color: black;
  margin-top: 1px;
}

/* line 62, ../../app/styles/main.scss */

.shareabouts-geometry-set .form-instructions {
  display: none;
}

/* line 66, ../../app/styles/main.scss */

.survey-items {
  list-style: none;
  margin-left: 0;
}

/* line 71, ../../app/styles/main.scss */

.survey-items .avatar {
  height: 25px;
  width: 25px;
}

/* line 76, ../../app/styles/main.scss */

.avatar {
  height: 50px;
  width: 50px;
}

/* line 81, ../../app/styles/main.scss */

textarea {
  height: 100px;
}

/* line 85, ../../app/styles/main.scss */

.browsehappy {
  margin-bottom: 0;
}

@media only screen and (min-width: 40.063em) {
  /* line 91, ../../app/styles/main.scss */

  #shareabouts-container {
    height: 600px;
  }
}