/* NOTE: use these selectors to style invalid form elements on non-HTML5 browsers */

/* line 4, ../../app/styles/main.scss */

.form-submitted input:invalid,
.form-submitted textarea:invalid,
.form-submitted select:invalid {
  border: 2px solid #b2182b;
}

/* NOTE: The #shareabouts-container must be positioned relative,
   have an explicit width and a fluid height. An explicit height
   must be set within a media query. */

/* line 12, ../../app/styles/main.scss */

#shareabouts-container {
  width: 100%;
  max-width: 64.063em;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

/* line 20, ../../app/styles/main.scss */

.shareabouts-add-button-container {
  left: 0;
  bottom: 0;
  margin-left: 0;
}

/* line 26, ../../app/styles/main.scss */

.shareabouts-add-button {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

/* line 32, ../../app/styles/main.scss */

.panel-open .shareabouts-add-button-container {
  display: none;
}

/* line 37, ../../app/styles/main.scss */

.shareabouts-auth-avatar {
  display: block;
  width: 50px;
}

/* line 42, ../../app/styles/main.scss */

.shareabouts-geometry-set .form-instructions {
  display: none;
}

/* line 46, ../../app/styles/main.scss */

.survey-items {
  list-style: none;
  margin-left: 0;
}

/* line 51, ../../app/styles/main.scss */

.survey-items .avatar {
  height: 25px;
  width: 25px;
}

/* line 56, ../../app/styles/main.scss */

.avatar {
  height: 50px;
  width: 50px;
}

/* line 61, ../../app/styles/main.scss */

textarea {
  height: 100px;
}

/* line 65, ../../app/styles/main.scss */

.browsehappy {
  margin-bottom: 0;
}

@media only screen and (min-width: 40.063em) {
  /* line 71, ../../app/styles/main.scss */

  #shareabouts-container {
    height: 600px;
  }

  /* line 75, ../../app/styles/main.scss */

  .shareabouts-add-button-container {
    left: 1.5em;
  }

  /* line 79, ../../app/styles/main.scss */

  .shareabouts-add-button {
    padding-left: 2em;
    padding-right: 2em;
  }

  /* line 84, ../../app/styles/main.scss */

  .panel-open .shareabouts-add-button-container {
    display: block;
  }
}